@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

@media (width < 900px) {
  .nav-links {
    display: none;
  }
  nav {
    display: none;
  }
  header {
    grid-template-columns: repeat(1, 1fr);
  }
  header .image {
    grid-area: 1/1/2/2;
  }
  .features {
    grid-template-columns: repeat(2, 1fr);
  }
  .pricing {
    grid-template-columns: repeat(2, 1fr);
  }
  footer {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .column .socials {
    justify-content: center;
  }
}

@media (width < 600px) {
  header .image::before {
    display: none;
  }

  .features {
    grid-template-columns: repeat(1, 1fr);
  }

  .pricing {
    grid-template-columns: repeat(1, 1fr);
  }

  footer {
    grid-template-columns: 1fr;
  }
}

html {
  scroll-behavior: smooth;
}

header[id] {
  scroll-margin-top: 90px;
}
